<% status = ActiveSupport::JSON.decode(@status) %>
<div class="columns">
  <div class="column has-text-centered">
    <h1 class="title">Pontuação F1</h1>
    <h2>Rodada <%= status['rodada_atual'] %></h2>
  </div>
 </div>
 <div class="columns">  
  <div class="column has-text-centered">
	  <div class="columns is-multiline">
	  	* Clique nas colunas para ordenar
	  	<table class="table" id="tabela">
	  		<thead>
	  			<tr>
	  				<th>Equipe</th>
	  				<th>Jogadores</th>
	  				<% (status['rodada_atual']-1).times do |i| %>
	  					<th><%= i+1 %></th>
	  				<% end %>
	  				<th>Total</th>
	  				</tr>
	  			</tr>
	  		</thead>
	  		<tbody>
	  			<% @teams.each do |v| %>
					<% total_time = 0 %>
	  			<tr>
	  				<td><%= v.nome %></td>
	  				<td>
		  			<% TeamPlayer.where(team_id: v.id).each do |j|  %>
		  				<%= j.player %><br>
		  			<% end  %>
		  			</td>
	  				<% (status['rodada_atual']-1).times do |i| %>
	  					<% alysson = ActiveSupport::JSON.decode(Alysson.first.pontos) %>
		  				<% alysson[i].each do |pf1| %>	  					
	  						<% if pf1[0] === v.id %>
	  							<td>
	  								<% total_time += pf1[2] %>
	  								<%= pf1[2] %>
	  							</td>
	  						<% end %>
	  					<% end %>
	  				<% end %>
	  				<td><%= total_time %></td>
					</tr>
					<% end %>
		   </tbody>
		  </table>
		</div>
  </div>
</div>
<script type="text/javascript">
$("#tabela").tablesorter();   
</script>