<% status = ActiveSupport::JSON.decode(@status) %>
<div class="columns">
  <div class="column has-text-centered">
    <h1 class="title">Pontuação F1</h1>
    <h2>Rodada <%= status['rodada_atual'] %></h2>
  </div>
 </div>
 <div class="columns">  
  <div class="column has-text-centered">
	  <div class="columns is-multiline">
	  	* Clique nas colunas para ordenar
	  	<table class="table" id="tabela">
	  		<thead>
	  			<tr>
	  				<th>Equipe</th>
	  				<th>Jogadores</th>
	  				<% (status['rodada_atual']-1).times do |i| %>
	  					<th><%= i+1 %></th>
	  				<% end %>
	  				<th>Total</th>
	  				</tr>
	  			</tr>
	  		</thead>
	  		<tbody>
	  			<% @teams.each do |v| %>
					<% total_time = 0 %>
	  			<tr>
	  				<td><%= v.nome %></td>
	  				<td>
		  			<% TeamPlayer.where(team_id: v.id).each do |j|  %>
		  				<%
		  				case j.player
		  				when "dubalacobaco-rj"
		  					icone = "rj.png"
							when "f-c-trakitana"
		  					icone = "rs.png"
							when "comuno-gayzista"
		  					icone = "pb.png"
							when "cacetinho-wanderers"
		  					icone = "rs.png"
							when "dwfc-diorge-wilstermann"
		  					icone = "rj.png"
							when "kenguerover-f-c"
		  					icone = "sp.png"
							when "golpisti-calcio"
		  					icone = "mg.png"
							when "veronicas-soccer-fc"
		  					icone = "sp.png"
							when "a-c-delucca"
		  					icone = "sp.png"
							when "atletico-de-mim-ache"
		  					icone = "pr.png"
							when "impossibru-f-c"
		  					icone = "sc.png"
							when "barsemlona-parnanguara"
		  					icone = "pr.png"
							when "pinga-com-mel-united"
		  					icone = "mg.png"
							when "dragonzord-fc"
		  					icone = "go.png"
							when "clube-destiny"
		  					icone = "sp.png"
							when "espetacul0s0"
		  					icone = "sc.png"
							when "pereculino"
		  					icone = "pr.png"
							when "jehuty"
		  					icone = "go.png"
							when "neylindo-da-vila"
		  					icone = "sp.png"
							when "salamandra-malandra"
		  					icone = "sp.png"
		  				end
		  				%>
		  				<%= image_tag(asset_path icone) %>&nbsp;<%= j.player %><br>
		  			<% end  %>
		  			</td>
	  				<% (status['rodada_atual']-1).times do |i| %>
		  				<% @alysson[i].each do |pf1| %>	  					
	  						<% if pf1[0] === v.id %>
	  							<td>
	  								<% total_time += pf1[1] %>
	  								<%= pf1[1] %>
	  							</td>
	  						<% end %>
	  					<% end %>
	  				<% end %>
	  				<td><%= total_time %></td>
					</tr>
					<% end %>
		   </tbody>
		  </table>
		</div>
  </div>
</div>
<script type="text/javascript">
$("#tabela").tablesorter();   
</script>
<style type="text/css">
 img {
  width: 20px;
  height: 20px;
</style>