<% status = ActiveSupport::JSON.decode(@status) %>
<div class="columns">
  <div class="column has-text-centered">
    <h1 class="title">Pontuação F1</h1>
    <h2>Rodada <%= status['rodada_atual'] %></h2>
    <br>
		<% ponto_f1_rodada = [] %>
		<% ponto_f1 = [] %>
   	<% (status['rodada_atual']-1).times do |i| %>
			<% @teams.each do |v| %>
				<% ponto_equipe = 0 %>
				<% TeamPlayer.where(team_id: v.id).each do |j|  %>
					<%
		  		url = "https://api.cartolafc.globo.com/time/slug/#{j.player}/#{i+1}"
	  			client = HTTPClient.new
					ponto = client.get_content(url)
					ponto = ActiveSupport::JSON.decode(ponto)
					ponto_equipe += ponto['pontos']
					%>
				<% end  %>
				<% ponto_f1_rodada.push(v.id => ponto_equipe) %>
			<% end  %>
			<% n = {} %>
			<% ponto_f1_rodada.map {|e| n.merge! e} %>
			<% ponto_f1.push(n.sort_by {|k,v| v}.reverse) %>
		<% end  %>
   	<% 
   	(status['rodada_atual']-1).times do |i|
   		z = 0
   		@teams.each do |v|
	   		ponto_final = 0
	   		case z
	   		when 0
	   			ponto_final = 25
	   		when 1
	   			ponto_final = 18
	   		when 2
	   			ponto_final = 15
	   		when 3
	   			ponto_final = 12
	   		when 4
	   			ponto_final = 10
	   		when 5
	   			ponto_final = 8
	   		when 6
	   			ponto_final = 6
	   		when 7
	   			ponto_final = 4
	   		when 8
	   			ponto_final = 2
	   		when 9
	   			ponto_final = 1
	   		end
   			ponto_f1[i][z].push(ponto_final)
   			z += 1
   		end
   	end
		%>
  </div>
</div>

<div class="columns">
  <div class="column has-text-centered">
	  <div class="columns is-multiline">
	  	* Clique nas colunas para ordenar
	  	<table class="table" id="tabela">
	  		<thead>
	  			<tr>
	  				<th>Equipe</th>
	  				<th>Jogadores</th>
	  				<% (status['rodada_atual']-1).times do |i| %>
	  					<th><%= i+1 %></th>
	  				<% end %>
	  				<th>Total</th>
	  				</tr>
	  			</tr>
	  		</thead>
	  		<tbody>
	  			<% @teams.each do |v| %>
					<% total_time = 0 %>
	  			<tr>
	  				<td><%= v.nome %></td>
	  				<td>
		  			<% TeamPlayer.where(team_id: v.id).each do |j|  %>
		  				<%= j.player %><br>
		  			<% end  %>
		  			</td>
	  				<% (status['rodada_atual']-1).times do |i| %>
		  				<% ponto_f1[i].each do |pf1| %>	  					
	  						<% if pf1[0] === v.id %>
	  							<td>
	  								<% total_time += pf1[2] %>
	  								<%= pf1[2] %>
	  							</td>
	  						<% end %>
	  					<% end %>
	  				<% end %>
	  				<td><%= total_time %></td>
					</tr>
					<% end %>
		   </tbody>
		  </table>
		</div>
  </div>
</div>
<script type="text/javascript">
$("#tabela").tablesorter();   
</script>