<aside class="menu">
  <ul class="menu-list">
    <li>
      <%= link_to root_path, class: "#{'is-active' if params[:controller] == 'dashboard'}" do %>
        <span class="icon is-small"><i class="fa fa-dashboard"></i></span>&nbsp;
        Painel
      <% end %>
    </li>
    <li>
      <%= link_to teams_path, class: "#{'is-active' if params[:controller] == 'teams'}" do %>
        <span class="icon is-small"><i class="fa fa-trophy"></i></span>&nbsp;
        Times F1
      <% end %>
    </li>
    <li>
      <%= link_to alyssons_path, class: "#{'is-active' if params[:controller] == 'alyssons'}" do %>
        <span class="icon is-small"><i class="fa fa-flag-checkered"></i></span>&nbsp;
        Pontuação F1
      <% end %>
    </li>
    <li>
      <%= link_to points_path, class: "#{'is-active' if params[:controller] == 'points'}" do %>
        <span class="icon is-small"><i class="fa fa-flag-checkered"></i></span>&nbsp;
        Pontuação Normal
      <% end %>
    </li>
    <li>
      <%= link_to parcials_path, class: "#{'is-active' if params[:controller] == 'parcials'}" do %>
        <span class="icon is-small"><i class="fa fa-refresh"></i></span>&nbsp;
        Parcial
      <% end %>
    </li>
    <li>
      <%= link_to users_path, class: "#{'is-active' if params[:controller] == 'users'}" do %>
        <span class="icon is-small"><i class="fa fa-user"></i></span>&nbsp;
        Usuários/Jogadores
      <% end %>
    </li>
  </ul>
</aside>
